@import './Variable.scss';
@import './global.scss';



.container {
    height: 100vh;
    width: 100%;
    background-color: $color-white;
    
    .main {
        padding: 0.5rem 0.2rem;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .working {
            margin: 0.5rem 0rem;
            height: 40%;
            width: 100%;
            background-color: $color-white;
            border-radius: 30px;
            
            .work-link {
                width: 320px;
                height: 100%;
                margin: 0rem auto;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;

                .top, .mid, .down {
                    width: 100%;
                    font-size: 1.3rem;
                    font-weight: 700;
                    color: $color-black;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .mid {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    font-weight: 900;
                    font-size: 2rem;
                }
            }
        }
    }
}