@import url(//db.onlinewebfonts.com/c/29800a9e7d146302b8ed9ad2f848db63?family=Druk+Wide+Web+Bold);
@import url(https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap);

$font-pri: 'Satoshi', sans-serif;
$font-primary: "Druk Wide Web Bold";

// Blue Color
$color-light-blue: #CBE5FF;
$color-blue: #2901E8;

// Green Color
$color-light-green: #D0FF94;
$color-green: #78F3E2;
$color-dark-green: #113c02;

// Yellow Color
$color-yellow: #FFF480;

// Purple Color 
$color-purple: #34033d;

// Black Color and shades
$color-white: #ffffff;
$color-gray: #8f8d8d5b;
$color-black: #000000;